<div class="col-6 xs-width-div">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 float-start xs-width-input">
    <input class="form-control rounded d-sm-none d-md-none d-lg-block xs-hide" type="text" name="filter" required
      placeholder="Filter" autocomplete="off" #filterValue />
      <input class="form-control rounded d-sm-block d-md-block d-lg-none" type="text" name="filter" required
        autocomplete="off" #filterValue />
      </div>
      <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto float-start">
        <button class="btn text-light btn-primary" type="submit" (click)="this.filter(filterValue.value)" title="Filter">
          <i class="bi bi-funnel"></i>
        </button>
      </div>
      @if (this.isFiltered) {
        <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto float-start">
          <button class="btn btn-danger text-light" type="button" (click)="this.reset(); filterValue.value = ''" title="Reset filter">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      }
</div>