<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-4"></div>
        <div class="col-4">
            <app-pager></app-pager>
        </div>
        <div class="col-4">
            <app-pagination></app-pagination>
        </div>
    </div>
    <table class="table table-striped table-sm" *ngIf="this.allPersons != undefined">
        <thead>
            <tr>
                <th>Firstname:</th>
                <th>Lastname:</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let person of this.allPersons">
                <td>
                    {{ person.firstName }}
                </td>
                <td>
                    {{ person.lastName }}
                </td>
            </tr>
        </tbody>
    </table>
</div>