<div class="col-auto float-end mt-1">
  <ul class="pagination col-auto m-0 border border-1">
    @if (this.amountOfPages >= 2) {
      <li class="page-item">
        <a class="page-link" title="Previous Page" (click)="this.previousPage()">
          <i class="bi bi-caret-left"></i>
        </a>
      </li>
    }
    @for (page of this.getPagination(); track page; let i = $index) {
      <li class="page-item">
        @if (!this.isCurrentPageIndex(page)) {
          <a class="page-link" title="Go to page: {{ page }}" (click)="this.setPageIndex(page)">{{ page }}</a>
        }
        @if (this.isCurrentPageIndex(page)) {
          <a class="page-link" title="Go to page: {{ page }}" [class.item-active]="this.isCurrentPageIndex(page)">{{ page }}</a>
        }
      </li>
    }
    @if (this.amountOfPages >= 2) {
      <li class="page-item">
        <a class="page-link" title="Next Page" (click)="this.nextPage()">
          <i class="bi bi-caret-right"></i>
        </a>
      </li>
    }
  </ul>
</div>