.clearFix {
    clear: both;
}

.scroll-to-top-admin {
    position: fixed;
    float: right;
    bottom: 2%;
    right: 2%;
}

.scroll-to-top-admin:hover {
    background-color: lightgrey;
    cursor: pointer;
}